.App {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
}
.box {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  margin: 5px 5px 0 0;
  padding: 10px;
}

.wrapperTodos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}